.card__color{
    background-color: white;
}
.font_size{
    font-size: 12px;
}
.img__icon{
    border-radius: 100%;
    // box-shadow: 0.1rem ,0.2rem, 0.1rem solid black;
    padding: 5px;
    background-color: aquamarine;
}