$orange: #fc8162;
$orange-2: #e08805;
$primary: #493480;
$primary-2: #591e71;


.card__color {
  background-color: white;
}
.font_size {
  font-size: 15px;
}

.card__color {
  background-color: lightblue;
  background-image: linear-gradient(to right, $orange-2, $primary-2);
}
.img__icon {
  border-radius: 100%;
 
  padding: 25px;
  background-color: rgb(248, 252, 251);
  margin-top: -39px;
}
.text__size {
  font-size: 12px;
}
.btn__size{
    border-radius: 25px;
}
.avatarcard__color{
    background-color:$primary-2 ;
}
@media only screen and(max-width: 425px){
     .leftside__bar__row{
 display: none;
     }
 }

//  .leftside__bar__size{
//  width: 20%;
//  }
@media only screen and(max-width: 990px){

   .leftside__bar__size{
 width: 20%;
 }

}