$bg-primary: #6a1697;
$bg-primary-2: #661f83;
$primary-2-light: #561c6da1;
$primary-2: #783394;

.foot__color{
    background: $bg-primary;
background: linear-gradient(180deg, $primary-2 3%,$bg-primary 35%, $bg-primary-2 100% ,);
}