$primary: #493480;
$primary-2: #591e71;
$secondary: #ff3972;
$yellow: #fcd560;
$purple: #681d78;
$primary_text: #493480;
$muted: #e5e5e5;
$muted-2: #948E8E;
$bg-primary: #551875;
$bg-primary-2: #591e71;
$primary-2-light: #591e71a1;
$primary-light: #591e718a;
$orange: #fc8162;
$orange-2: #E08805;
$primary-light-2: #D2B9DC;
$green: #40AE2E;
$red: #FF3B72;
$secondary-light: #ff3b728a;
$white-transparent: rgba(255, 255, 255, 0.456);
$text-muted: #909090;
$violet: #944289;
$pink: rgba(254, 74, 110, 0.2);